{%header%}
        <article class="main-post">
            {%blog-content%}

        </article>
        <span>{%tags-content%}</span>

        <div class="after-post">
            <span>Cám ơn vì đã theo dõi các bài viết của mình 😀 Hãy góp ý ở bình luận bên dưới để giúp các bài viết 
                sau của mình chất lượng hơn nhé ! ❤️
            </span>
            <div class="comment-section">
                <div class="comment-list">

                </div>
                <div class="comment-login">
                    <span>Tham gia bình luận</span>
                    <br>
                    <button>Login with Facebook</button>
                    <br>
                    <span>Hoặc bình luận nặc danh?</span>
                    <button>Go ninja</button>
                </div>
                <div class="comment-box">
                        <img src="../assets/img/kakashi.jpg" alt="">
                    
                        <textarea name="" id="" cols="50" rows="3" placeholder="Please write something ...."></textarea>
                        <button>Gửi</button>
                </div>
            </div>
        </div>
{%footer%}