<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link
        href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic|Space+Mono:400,700'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
    <link href='https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/tomorrow-night.css' rel='stylesheet'
        type='text/css'>
    <title>Chày Cối Developer's Blog</title>
</head>

<body>
    <header id="header">
        <div id="logo-header">
            <a href="index.html">
                <img src="../assets/img/spinning.gif" alt="thetoxicdeveloper">
            </a>
        </div>
        <h1>
            <a href="index.html">
                Chày Cối Developer
            </a>
        </h1>
        <h4>
            <a href="http://cv.devchaycoi.com">
                By Hung Nguyen
            </a>
        </h4>

        <h3>
            A woodsman was once asked, “What would you do if you had just five minutes to chop down a tree?” He
            answered, “I would spend the first two and a half minutes sharpening my axe.”
        </h3>

        <div id="header-top">
            <a href="">RSS</a>
            <a href="http://cv.devchaycoi.com">About me</a>
            <a href="https://www.facebook.com/hung.nguyenhoang.77736">Facebook</a>
            <a href="https://github.com/bettafish15">Github</a>
            <a href="">Một số quote tâm đắc</a>
            <a href="">Một số blog hay nên theo dõi</a>
        </div>
    </header>

    <div class="container">
        <div class="page-header">
            <h1>Chày Cối Developer</h1>
        </div>
        <div class="nav-menu">
            <button type="button">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="tags.html"><i class="fa fa-tags"></i> Tags</a>
                </li>
                <li><a href="#top"><i class="fa fa-arrow-up"></i> Top of Page</a></li>
            </ul>
        </div>


        <article class="list-items">
    <span class="post-date">
        2017-01-07 15:43:23
    </span>
    <h2>
        <a href="life-with-robots-post.html">Lái xe với robot</a>
    </h2>
    <div class="head-line">
        <p>Con người sống chung với robot y như trong phim khoa học viễn tưởng...</p>

        <a href="life-with-robots-post.html">Continue Reading</a>
    </div>
    <p>Tags: random</p>
</article>
<article class="list-items">
    <span class="post-date">
        2017-01-07 15:43:23
    </span>
    <h2>
        <a href="mo-hinh-toan - Copy-post.html">Test math</a>
    </h2>
    <div class="head-line">
        <p>Just a test case....</p>

        <a href="mo-hinh-toan - Copy-post.html">Continue Reading</a>
    </div>
    <p>Tags: math, research</p>
</article>
<article class="list-items">
    <span class="post-date">
        2017-01-07 15:43:23
    </span>
    <h2>
        <a href="mo-hinh-toan-post.html">Mô hình toán học và DotA 2</a>
    </h2>
    <div class="head-line">
        <p>Có thể bạn đã được nghe rất nhiều về cái chữ "mô hình" này. Ở công ty của mình, có 1 team Data Scientist, và đám này suốt ngày ngồi nói về model này, model nọ......</p>

        <a href="mo-hinh-toan-post.html">Continue Reading</a>
    </div>
    <p>Tags: math, research</p>
</article>
<article class="list-items">
    <span class="post-date">
        2017-01-07 15:43:23
    </span>
    <h2>
        <a href="so-huu-ti-post.html">Thuật toán phục hồi số hữu tỉ và bài toán John's PIN</a>
    </h2>
    <div class="head-line">
        <p>Một bài toán thú vị về việc dùng số hữu tỉ cho việc mã hóa....</p>

        <a href="so-huu-ti-post.html">Continue Reading</a>
    </div>
    <p>Tags: math, algorithm</p>
</article>

 
</div>

    <div class="footer">
        <span>Created with <a href="">Vortek-js</a></span>
    </div>
    <script src="../assets/js/jquery-1.10.2.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script type="text/x-mathjax-config">
// This code is required for inline rendering. 
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ["$","$"] ],
      processEscapes: true
    }
  });
</script>
    <!-- 
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script> -->
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>